h1, .lead {
    display: block;
    text-align: center;
    line-height: 150%;
}

body {
    background: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

div.container {
    width: 280px;
    height: 200px;
} 

.container {
    background-color: rgb(189, 189, 189);
    border: 1px solid gray;
    display: inline-block;
    border-radius: 5%;
}